# Python
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

# Secrets
.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.env

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Existing project data
transit_data/GTFS_Files/