<!DOCTYPE html>
<html>
    <head>
        <title>Map</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="app">
            <div class="sidebar">
                <div class="top-section">
                    <div class="logo">
                        <span>Map</span> Router
                    </div>
                    <div class="search-box">
                        <div class="input-row">
                            <div class="input-dot"></div>
                            <input id="start" placeholder="Starting location">
                        </div>
                        <div class="input-row">
                            <div class="input-dot destination"></div>
                            <input id="destination" placeholder="Destination">
                        </div>
                        <button id="search-button">Find routes</button> 
                    </div>
                    <div id="mode-options">
                        <button class="mode-button selected" data-mode="driving">Drive</button>
                        <button class="mode-button" data-mode="walking">Walk</button>
                        <button class="mode-button" data-mode="cycling">Cycle</button> <!-- added by KUSH -->
                    </div>
                </div>
                <div class="results">
                    <div id="status">
                        Enter a starting point and destination
                    </div>
                    <div id="route-options"></div>
                    <div id="directions-section">
                        <div class="directions-title">
                            Directions
                        </div>
                        <div id="directions"></div>
                    </div>
                </div>
            </div>
            <div id="map"></div>
        </div>

        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>